# emacs temporaries
\#*#
.#*

# emacs trash
.tramp_history

o.git_*.out
o.make.out
o.*.out

# other backup files
*~

j99.*
o99.*
t99.*

orig.*

.checked

# synthesized by buildconf
configure
# synthesized by make (the Makefile)
check-incendiary-sophist.spec

# end
