# Copyright Verizon Media.
# Licensed under the terms of the Apache-2.0 license.
# See the LICENSE file in https://github.com/yahoo/temerarious-flagship/blob/master/LICENSE for terms.
# See the LICENSE file at the top of this repository.
*/run.state
#
# Below here all these files are synthetic.
# Normally they are versioned objects, but below here they are trash.
*/mk
*/Makefile.am
*/buildconf
