# emacs temporaries
\#*#
.#*

# emacs trash
.tramp_history

o.git_*.out
o.make.out
o.*.out

# other backup files
*~

j99
j99.*
o99
o99.*
t99
t99.*
tmp
tmp.*
old
old.*

.checked

# is synthesized by make (the Makefile)
check-hypogeal-twilight.spec

# end
